body,
html {
  height: 100%;
  overflow: hidden;
}

.jumbotron {
  background-image: url(https://apod.nasa.gov/apod/image/1910/ClayCache_Curiosity_960.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(95%);
}

.display-4 {
  text-align: center;
  margin-top: -0.6em;
  color: white;
}

#button {
  margin-top: 14.5em;
  margin-left: 18em;
  background-color: #ff7400;
}

.text {
  font-size: 1.3em;
  color: white;
  /* overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
    typing 3.5s, steps(40, end)
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent;}
    50% { border-color: orange;} */
}

/* @keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
  } */
